<div style="width: 1000px; margin: 0 auto;">
<h2>About</h2>
    <p>This tool would not exist without the amazing work from the following:</p>
        <ul>
            <li>
                <strong><a href="https://www.mycolormusic.com/" target="_blank" rel="noopener noreferrer" style="color: black; text-decoration: none;">ColorMusic&reg;</a></strong> — Created by Mike George and the inspiration behind this tool.
            </li>
            <br>
            <li>
                <strong><a href="https://www.verovio.org/index.xhtml" target="_blank" rel="noopener noreferrer" style="color: black; text-decoration: none;">Verovio</a></strong> — Open-source library for converting .mei files to SVG.  
            </li>
            <br>
            <li>
                <strong><a href="https://music-encoding.org/" target="_blank" rel="noopener noreferrer" style="color: black; text-decoration: none;">Music Encoding Initiative (MEI)</a></strong> — Open-source effort for encoding musical documents in a machine-readable structure.
            </li>
            <br>
            <li>
                <strong><a href="https://www.musicxml.com/" target="_blank" rel="noopener noreferrer" style="color: black; text-decoration: none;">musicXML&trade;</a></strong> — Enables reliable interchange of Western music notation between software tools.
            </li>
            <br>
            <li>
                <strong><a href="https://pypi.org/project/beautifulsoup4/" target="_blank" rel="noopener noreferrer" style="color: black; text-decoration: none;">BeautifulSoup</a></strong> — For parsing/manipulating .mei and .svg files.
            </li>
        </ul>
    <br>
    <p style="font-size: 1.1rem;">The ColorMusic Notation Tool is provided for your playing pleasure by <strong><a href="https://www.linkedin.com/in/jake-kirsch-dataeng" target="_blank" rel="noopener noreferrer" style="color: black; text-decoration: none;">Jake Kirsch</a></strong>, a data engineer based in Atlanta.</p>
    <br>
    <p style="font-size: 1.1rem;">
        The tool is free to use. If it helps you, please consider supporting hosting & development costs ☕
    </p>
    <a href="https://www.buymeacoffee.com/jake_kirsch" target="_blank">
        <button style="background-color: #FFDD00; color: #000; padding: 10px 20px; font-size: 16px; border-radius: 6px; border: none; cursor: pointer; font-weight: bold;">
        ☕ Buy Me a Coffee
        </button>
    </a>
</div>

