<div style="width: 400px; margin: 0 auto;">
    <h1>Upload File</h1>
    <form id="uploadForm" enctype="multipart/form-data"> <!--action="/upload"-->
    <label for="title">Song Title - Author:</label><br>
    <input type="text" name="title" required><br><br>

    <label for="input_format">Input File Format:</label><br>
    <select name="input_format" required>
        <option value="musicxml_compressed">MusicXML (compressed)</option>
        <option value="musicxml">MusicXML</option>
        <option value="mei">MEI</option>
    </select><br><br>

    <input type="file" name="file" required><br><br>
    <input type="submit" value="Render" style="background-color: #37B646; color: #ffffff; text-align: center;"><br><br>
    </form>
</div>
<div id="results" style="margin: 15px;"></div>