<div style="width: 600px; margin: 0 auto;">
    <div>Colorize sheet music from any score</div>
    <p>This rendering tool converts traditional notation into ColorMusic&reg; - print to play and analyze any song.</p>
    <a href="https://www.mycolormusic.com/" target="_blank" rel="noopener noreferrer" style="color: black;">see more examples ...</a>
</div>
<div style="display: flex; justify-content: center; align-items: center;">
    <img src="/static/assets/notation-original.svg"  width="500px" height="auto" style="position: relative; top: 10px; left: 10px; margin: 20px;">
    <img src="/static/assets/right-arrow.svg" width="30px" height="auto" style="position: relative; top:10px;">
    <img src="/static/assets/notation-colormusic.svg" width="500px" height="auto" style="position: relative; top:10px; left: 10px;">
</div>
<div style="width: 600px; margin: 0 auto;">
    <h1>Upload File</h1>
    <form id="uploadForm" enctype="multipart/form-data"> <!--action="/upload"-->
    <label for="title">Song Title - Author:</label><br>
    <input type="text" name="title" required><br><br>

    <label for="input_format">Input File Format:</label><br>
    <select name="input_format" required>
        <option value="musicxml_compressed">MusicXML (compressed)</option>
        <option value="musicxml">MusicXML</option>
        <option value="mei">MEI</option>
    </select><br><br>

    <input type="file" name="file" required><br><br>
    <input type="submit" value="Render" style="background-color: #37B646; color: #ffffff; text-align: center;"><br><br>
    </form>
</div>
<div id="results" style="margin: 15px;"></div>